<nav class="w-full px-5 lg:px-10 xl:px-20 py-4 bg-[#1E1E1E] shadow md:flex md:items-center md:justify-between fixed z-999 font-roboto_condensed">
    <div class="flex items-center justify-between">
        <a [routerLink]="['/']">
            <img class="h-[40px] inline" src="assets/images/logo-E4Y.png" alt="company logo">
        </a>
        <span class="text-white text-3xl cursor-pointer md:hidden block" (click)="toggle()">
            @if (!toggled()) {
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>  
            }@else {
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg> 
            }    
        </span> 
    </div> 
    <div class="flex flex-col md:flex-row md:items-center md:gap-20">
      <ul class="md:flex md:items-center z-[-1] md:z-auto md:static absolute
          bg-[#1E1E1E] w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0
          top-[-400px] transition-all ease-in-out duration-500"
          [ngClass]="{'opacity-100 top-[63px]' : toggled() , }">
          <li class="mx-6 my-6 md:my-0">
              <a [routerLink]="['/']" fragment="hero" class="text-base text-white font-normal nav-link" [class.active]="currentSection === '/' || currentSection ==='hero'">Accueil</a>
          </li>
          <li class="mx-6 my-6 md:my-0">
            <a [routerLink]="['/']" fragment="about" class="text-base text-white font-normal nav-link" [class.active]="currentSection === 'about'">À propos</a>
          </li>
          <li class="mx-6 my-6 md:my-0">
            <a [routerLink]="['/']" fragment="services" class="text-base text-white font-normal nav-link" [class.active]="currentSection === 'services'">Éligibilité</a>
          </li>
          <li class="mx-6 my-6 md:my-0">
            <a [routerLink]="['/faq']" routerLinkActive="active" class="text-base text-white font-normal nav-link">FAQ</a>
          </li>
          <li class="mx-6 my-6 md:my-0">
            <a [routerLink]="['/']" fragment="contact" class="text-base text-white font-normal nav-link" [class.active]="currentSection === 'contact'" >Contacts</a>
          </li>
        
          <li>
            <a href="https://e4y-test.acceleratorapp.co/login" target="_blank"
              class="w-fit bg-[#F59E21] text-white px-10 py-2 md:hidden flex flex-col justify-center items-center rounded
              hover:bg-[#f66c18] transition-colors duration-300">
                <span>Se connecter</span>
            </a>
          </li>
          <!--<div class="w-fit bg-yellowColor text-white px-10 py-1 flex-col justify-center items-center mx-4 xl:mx-6 hidden md:flex ">
              <span class="text-sm font-semibold">LANCEMENT DU SITE WEB</span>
              <app-countdown/>
          </div>-->
      </ul>
      <a href="https://e4y-test.acceleratorapp.co/login" target="_blank"
       class="w-fit bg-[#F59E21] text-white px-10 py-2 hidden md:flex flex-col justify-center items-center rounded
       hover:bg-[#f66c18] transition-colors duration-300">
        <span>Se connecter</span>
      </a>
    </div>
</nav>
  
 