.bg-position{
    background-position: 50% 50%;
}
.hero-bg{
    background-position: 50% 60%;
}
.mask-bg{
    background: transparent;
}
.mask-bg::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    //background: linear-gradient(270deg, rgba(217, 217, 217, 0.07) 0%, #8A9FB7 100%);
    background: linear-gradient(270deg, rgba(199, 165, 133, 0) 0%, rgba(223, 184, 149, 0.7) 100%);

    //z-index: -1;
}
.gradient-bg{
    background: linear-gradient(184.15deg, #DEE2ED 3.22%, #FFFFFF 96.78%);
}
.card-shadow{
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.card-section{
    position: relative;
}

.card-section::before{
    position: absolute;
    content: "";
    margin-left: 10px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background: black;
    opacity: 0.3;
    border-radius: 20px;
    transition: 0.5s;
    z-index: 9;
}

.card-section:hover::before{
    width: 94%;
    height: 180px;

}
.text-shadow{
    text-shadow: 0px 4px 4px 0px #0000005E;
}
/* Styles for screens smaller than 600px */
@media only screen and (min-width: 1280px) {
    .bg-position{
        background-position: 50% 35%;
    }
}
@media only screen and (min-width: 960px) {
    .bg-position{
        background-position: 50% 40%;
    }
}
@media only screen and (max-width: 600px) {
    .hero-bg-position{
        background-position: 80%;
    }
}

