<div class="w-full flex flex-col relative">
    <app-header [currentSection]="section" [scrollHeight]="scrollHeight()"></app-header>  
    <!-- Page content-->
    <div class="w-full relative -z-10 md:z-auto">
        <!-- HERO SECTION -->
        <section class="w-full min-h-screen bg-hero-background bg-no-repeat bg-cover bg-center" id="hero">
            <div class="w-full min-h-[95dvh] px-5 lg:px-10 xl:px-20 flex flex-col justify-center sm:justify-end">
                <!-- COUNTDOWN 
                <div class="w-full flex flex-col items-center mb-5 md:hidden">
                    <div class="w-fit bg-yellowColor text-white px-10 py-2">
                        <span class="text-base font-bold">LANCEMENT DU SITE WEB</span>
                    </div>
                    <app-countdown [scrollHeight]="scrollHeight()"/>  
                </div>-->
                <!-- TEXT -->
                <div class="flex flex-col justify-center md:items-start font-roboto_condensed sm:mb-30">
                    <p class="text-white text-3xl sm:text-4xl font-thin text-left md:text-5xl lg:text-6xl xl:text-7xl leading-10 xl:leading-[3.3rem]">DÉVELOPPER<br> 
                        L’<span class="font-semibold">ENTREPRENARIAT</span>, L’EMPLOI<br>
                        ET L’<span class="font-semibold">AUTONOMISATION</span> <br>
                        ÉCONOMIQUE DES <span class="font-semibold">JEUNES</span>
                    </p>

                    <div class="flex items-center flex-row space-x-5 mt-6">
                        <button class="flex items-center justify-center px-5 py-2 border border-white bg-white text-black rounded
                         hover:bg-yellowColor hover:text-white duration-500 relative group">
                            <span class="text-md font-medium">JE M'INSCRIS</span>
                            <div class="w-50 py-4 absolute top-10 z-50 bg-white text-black rounded-md shadow-sm scale-0 group-hover:scale-100
                                transition-transform duration-300">
                                <p class="font-roboto text-md text-center">Restez connectés, inscriptions imminentes !</p>
                            </div>
                        </button>
                        <a [routerLink]="['/faq']" routerLinkActive="router-link-active"  class="flex justify-center items-center px-5 py-2 bg-transparent border border-gray-100 rounded
                         hover:bg-yellowColor hover:border-yellowColor duration-500">
                            <span class="text-md text-white font-medium">EN SAVOIR</span>
                            <span class="text-xs text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                  </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- PROGRAMME SECTION -->
        <section class="w-full min-h-screen font-roboto_condensed" id="about">
            <div class="w-full min-h-screen">
                <div class="w-full min-h-[90dvh] bg-cow-pattern bg-cover bg-no-repeat bg-position md:bg-opacity-100 px-5 lg:px-10 xl:px-20 relative">
                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-18 xl:gap-x-24 bg-gray-300 bg-opacity-60 md:bg-transparent md:bg-opacity-100 px-1 py-10">
                        <div class="sm:col-span-2 h-fit">
                            <div class="flex items-center space-x-4 mb-5">
                                <span class="block w-22 h-[2px] bg-[#1D2130]"></span>
                                <span class="text-xl lg:text-2xl font-bold leading-6 tracking-[2px]">LE PROGRAMME</span>
                            </div>
                            <p class="text-base xl:text-xl text-justify text-black leading-6 font-normal lg:w-4/5 xl:w-full">
                                <span class="font-bold">E4Y «Développement de l’Entrepreneuriat, Accès à l’emploi et Autonomisation
                                    économique des Jeunes en particulier les Jeunes Femmes », </span>
                                est un Programme visant à transformer le paysage économique des pays de la zone (UEMOA) notamment le <span class="font-bold">Sénégal</span>,
                                la <span class="font-bold">Côte d'Ivoire</span>, le <span class="font-bold">Bénin</span> et le <span class="font-bold">Togo</span>.
                                Ce programme cible principalement les petites et moyennes entreprises (PME) évoluant dans l’agrobusiness, l’agroindustrie et secteurs
                                adjacents ainsi que les Groupements à fort potentiel.
                            </p>

                            <p class="text-base xl:text-xl text-justify text-black leading-6 font-normal mt-2 lg:w-4/5 xl:w-full">
                                Avec un focus Jeune, notamment Jeunes Femmes, E4Y se concentre sur l'épanouissement de leur capacités entrepreneuriale et 
                                l'amélioration de leur compétitivité sur le marché.
                            </p>
                        </div>
                        <img class="w-15 absolute bottom-0 right-0 block sm:hidden" src="../../../../assets/images/africa.png" alt="africa" srcset="">
                        <div class="sm:flex justify-center items-center py-10 hidden">
                            <img class="w-90" src="../../../../assets/images/africa.png" alt="africa" srcset="">
                        </div>
                    </div>

                </div>
                <div class="bg-[#E8620F] px-5 lg:px-10 xl:px-20">
                   <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
                        <div class="h-full relative pt-5 sm:pt-0">
                            <img class="w-full h-72 object-cover rounded-xl sm:rounded-none sm:h-100 sm:w-auto xl:h-120 xl:w-auto sm:absolute top-0 bottom-0 m-auto" 
                            src="../../../../assets/images/women_at_farm.png" alt="women">
                        </div>
                        <div class="py-5 lg:py-8 xl:py-15">
                            <div class="flex items-center space-x-4 mb-5">
                                <span class="block w-22 h-[2px] bg-white"></span>
                                <span class="text-xl xl:text-2xl font-bold leading-6 tracking-[2px] text-white">NOS OBJECTIFS</span>
                            </div>
                            <div class="flex flex-col space-y-5">
                                <div class="flex items-baseline space-x-4">
                                    <div>
                                        <span class="flex justify-center items-center w-[25px] min-h-[20px] h-[20px] bg-white rounded p-1">
                                            <img class="w-4 h-4" src="../../../../assets/icons/Vector.svg" alt=""building>
                                        </span>
                                    </div>
                                    <p class="text-white font-normal leading-8 text-justify text-lg lg:text-xl xl:text-2xl">
                                        <span class="font-bold leading-5 text-xl xl:text-3xl">Créer de l’Impact</span><br>
                                        Contribuer à libérer le potentiel des PME évoluant dans l’industrie agroalimentaire et les secteurs connexes.
                                    </p>
                                </div>

                                <div class="flex items-baseline space-x-4">
                                    <div>
                                        <span class="flex justify-center items-center w-[25px] min-h-[20px] h-[20px] bg-white rounded p-1">
                                            <img class="w-4 h-4" src="../../../../assets/icons/flower.svg" alt=""building>
                                        </span>
                                    </div>
                                    <p class="text-white font-normal leading-8 text-justify text-lg lg:text-xl xl:text-2xl">
                                        <span class="font-bold leading-5 text-xl xl:text-3xl">Croître et Innover</span><br>
                                        Appui à la création d’emplois dignes et valorisants avec un accent particulier sur l’inclusion des Jeunes et des Femmes.
                                    </p>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </section>

        <!-- CIBLE SECTION -->
        <section class="w-full font-roboto_condensed" id="services">
            <div class="w-full flex flex-col px-5 lg:px-10 xl:px-20 py-20 bg-white mt-5">
                <div class="flex items-center space-x-4 mb-5">
                    <span class="block w-22 h-[2px] bg-[#1D2130]"></span>
                    <span class="text-base lg:text-xl xl:text-2xl font-bold leading-5 xl:leading-6 tracking-[2px] text-black">CIBLES</span>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-8 sm:gap-5 lg:gap-20 xl:gap-30">
                    <div class="flex flex-col justify-start items-center p-2 group relative card-section">
                        <div class="w-full rounded-[20px] mb-2">
                            <img class="w-full object-cover" src="../../../../assets/images/tracteur.png" alt="tracteur">
                        </div>
                        <p class="text-base xl:text-2xl text-justify text-black font-normal leading-8 px-6 
                         group-hover:text-white group-hover:z-80 duration-500">
                            PME évoluant en milieu rural ou ayant un impact notable sur les <span class="font-bold">communautés</span> les moins desservies.
                        </p>
                    </div>
                    <div class="flex flex-col justify-start items-center p-2 group relative card-section">
                        <div class="w-full rounded-[20px] mb-2">
                            <img class="w-full object-cover" src="../../../../assets/images/biere.png" alt="beer">
                        </div>
                        <p class="text-base xl:text-2xl text-justify text-black font-normal leading-8 px-6 
                         group-hover:text-white group-hover:z-80 duration-500">
                            PME et Groupements actifs dans l’<span class="font-bold">industrie agroalimentaire</span> et les <span class="font-bold">secteurs connexes</span>.
                        </p>
                    </div>
                    <div class="flex flex-col justify-start items-center p-2 group relative card-section sm:col-span-2 md:col-span-1">
                        <div class="w-full rounded-[20px] mb-2">
                            <img class="w-full object-cover sm:h-80 sm:rounded-[20px] md:rounded-none md:h-full" src="../../../../assets/images/girls.png" alt="couturier">
                        </div>
                        <p class="text-base xl:text-2xl text-justify text-black font-normal leading-8 px-6 
                        group-hover:text-white group-hover:z-80 duration-500">
                            Jeunes et Femmes présentant un potentiel élevé, y compris celles en <span class="font-bold">situation de handicap</span> ou <span class="font-bold">réfugiées</span>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full px-5 lg:px-10 xl:px-20 py-20 bg-[#1E1E1E]">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
                    <div class="flex justify-start items-center">
                        <div class="flex items-center space-x-4 mb-5">
                            <span class="block w-22 h-[2px] bg-white"></span>
                            <span class="text-base xl:text-2xl font-bold leading-5 xl:leading-6 tracking-[2px] text-white">CRITÈRES DE SÉLECTION</span>
                        </div>
                    </div>
                    <div class="col-span-2 grid grid-cols-1 sm:grid-cols-2 gap-10">
                        <div class="flex items-baseline space-x-4">
                            <div>
                                <span class="flex justify-center items-center w-[25px] h-[20px] bg-[#E8620F] rounded p-1">
                                    <img class="w-3 h-3" src="../../../../assets/icons/pme-icon.png" alt=""building>
                                </span>
                            </div>
                            <p class="text-white font-normal leading-6 xl:leading-8 text-justify text-base lg:text-lg xl:text-2xl">
                                PME agroalimentaire ou groupement agricole basé en Côte d’Ivoire, au Sénégal, au Togo ou au Bénin.
                            </p>
                        </div>
                        <div class="flex items-baseline space-x-4">
                            <div>
                                <span class="flex justify-center items-center w-[25px] h-[20px] bg-[#E8620F] rounded p-1">
                                    <img class="w-3 h-3" src="../../../../assets/icons/wave.png" alt="wave">
                                </span>
                            </div>
                            <p class="text-white font-normal leading-6 xl:leading-8 text-justify text-base lg:text-lg xl:text-2xl">
                                Chiffre d’affaires annuel compris entre <span class="font-bold">12 millions</span> et
                                <span class="font-bold">1 milliard de FCFA.</span>
                            </p>
                        </div>
                        <div class="flex items-baseline space-x-4">
                            <div>
                                <span class="flex justify-center items-center w-[25px] h-[20px] bg-[#E8620F] rounded p-1">
                                    <img class="w-3 h-3" src="../../../../assets/icons/potential.svg" alt="potential">
                                </span>
                            </div>
                            <p class="text-white font-normal leading-6 xl:leading-8 text-justify text-base lg:text-lg xl:text-2xl">
                                Fort potentiel de croissance et de création d’emplois.
                            </p>
                        </div>
                        <div class="flex items-baseline space-x-4">
                            <div>
                                <span class="flex justify-center items-center w-[25px] h-[20px] bg-[#E8620F] rounded p-1">
                                    <img class="w-3 h-3" src="../../../../assets/icons/flower-1.png" alt="flower">
                                </span>
                            </div>
                            <p class="text-white font-normal leading-6 xl:leading-8 text-justify text-lg xl:text-2xl">
                                Focus entreprises dirigées ou possédées par des Jeunes, notamment Jeune femmes entre <span class="font-bold">18</span> et
                                 <span class="font-bold">35</span> ans.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <!-- RESULTS SECTION -->
         <section class="w-full font-roboto_condensed">
            <div class="w-full flex flex-col px-5 lg:px-10 xl:px-20 pt-20 pb-10 bg-[#DEE2ED]">
                <div class="flex items-center space-x-4 mb-10">
                    <span class="block w-22 h-[2px] bg-[#1E1E1E]"></span>
                    <span class="text-base lg:text-xl xl:text-2xl font-bold leading-5 xl:leading-6 tracking-[2px] text-black">RÉSULTATS ATTENDUS</span>
                </div>

                <div class="grid grid-cols-1 gap-y-5 sm:gap-y-0 sm:grid-cols-3 sm:gap-x-5 md:gap-x-20 mb-15">
                    <div class="flex flex-col justify-start items-center space-y-2">
                        <span class="text-center text-orangeColor text-4xl xl:text-6xl font-bold leading-10 xl:leading-[64px]">{{companyCount() | price}}</span>
                        <p class="text-center text-black text-xl xl:text-[22px] font-normal leading-5 xl:leading-[35.2px]">
                            PME et Groupements <br>
                            accompagnés</p>
                    </div>
                    <div class="flex flex-col justify-start items-center space-y-2">
                        <span class="text-center text-orangeColor text-4xl xl:text-6xl font-bold leading-10 xl:leading-[64px]">{{employeeCount() | price}}</span>
                        <p class="text-center text-black text-xl xl:text-[22px] font-normal leading-5 xl:leading-[35.2px]">
                            emplois directs <br>
                            et indirects, créés, <br> 
                            consolidés ou maintenus</p>
                    </div>
                    <div class="flex flex-col justify-start items-center space-y-2">
                        <span class="text-center text-orangeColor text-4xl xl:text-6xl font-bold leading-10 xl:leading-[64px]">{{personsCount() | price}}</span>
                        <p class="text-center text-blacktext-xl xl:text-[22px] font-normal leading-5 xl:leading-[35.2px]">
                            personnes impactées <br>
                            qui disposeront d'un revenu <br>
                            soutenu via le Programme</p>
                    </div>
                </div>
                <div class="w-full min-h-100 bg-result-pattern bg-no-repeat bg-cover bg-center rounded-[20px]"></div>
                <!--<div class="w-full flex items-stretch h-90 overflow-hidden">
                    <video controls width="100%" autoplay loop >
                        <source src="../../../../assets/video/women-video.mp4" type="video/mp4" />
                      </video>
                </div>-->
            </div>
         </section>
          <!-- RESULTS SECTION -->
          <section class="w-full font-roboto_condensed">
            <div class="w-full flex flex-col px-5 lg:px-10 xl:px-20 py-10 xl:pb-20 gradient-bg">

                <div class="flex items-center space-x-4 mb-10 md:ml-10">
                    <span class="block w-22 h-[2px] bg-[#1E1E1E]"></span>
                    <span class="text-base lg:text-xl xl:text-2xl font-bold leading-5 xl:leading-6 tracking-[2px] text-black">LE CONSORTIUM</span>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-5 gap-x-6 xl:gap-x-10">
                    <div class="flex flex-col items-center border border-[#E8620F] rounded-[46px] bg-[#FFFFFF] p-6 card-shadow transition-all
                    duration-500">
                        <span class="text-lg text-black text-center tracking-[2px] leading-[18.75px] font-bold mb-5">ACCÈS AU FINANCEMENT</span>
                        <h3 class="text-xl xl:text-3xl text-[#E8620F] text-center leading-9 xl:leading-[42px] font-bold mb-3">Teranga Gestion</h3>
                        <p class="text-base xl:text-xl text-black text-justify leading-7 xl:leading-[30.4px] font-normal">
                            Teranga Gestion (TG) est une société de gestion de fonds d’impact établie au Sénégal depuis 2016.
                            Sa mission est de favoriser l'<span class="font-bold">accès au financement</span> des micro, petites et moyennes entreprises (PME) africaines,
                            en améliorant leurs performances et leurs impacts économiques et sociaux. Teranga Gestion collabore 
                            avec les PME pour assouplir les <span class="font-bold">conditions de prêt</span> auprès des institutions financières partenaires.
                            Cela inclut des <span class="font-bold">taux d’intérêt réduits</span>, des garanties plus flexibles et des délais de traitement accélérés
                            pour les demandes de financement, permettant ainsi aux entrepreneurs d'obtenir le capital
                            nécessaire pour faire croître leurs entreprises.
                        </p>
                    </div>

                    <div class="flex flex-col items-center border border-[#E8620F] rounded-[46px] bg-[#FFFFFF] p-6 card-shadow">
                        <span class="text-lg text-black text-center tracking-[2px] leading-[18.75px] font-bold mb-5">ACCÈS AU COMPETENCES</span>
                        <h3 class="text-xl xl:text-3xl text-[#E8620F] text-center leading-9 xl:leading-[42px] font-bold mb-3">Entrepreneurial Solutions <br>
                            Partners</h3>
                        <p class="text-base xl:text-xl text-black text-justify leading-7 xl:leading-[30.4px] font-normal">
                            Entrepreneurial Solutions Partners (ESP), une société de conseil et d'<span class="font-bold">investissement stratégique</span> implantée à Abidjan et à Kigali,
                            fournit les éléments clés d'une réussite durable aux entrepreneurs africains grâce à son concept de <span class="font-bold">Capital Intelligent</span>.
                            ESP soutient les entrepreneurs en leur offrant des programmes de formation qui couvrant un large éventail de compétences managériales,
                            techniques et commerciales.
                            À travers cette collaboration, ESP a soutenu plus de <span class="font-bold">3 000 entrepreneurs</span> dans sept pays africains, permettant ainsi aux PME 
                            d'accéder à des capitaux et à des informations cruciales pour la gestion de leur entreprise.
                        </p>
                    </div>

                    <div class="flex flex-col items-center border border-[#E8620F] rounded-[46px] bg-[#FFFFFF] p-6 card-shadow">
                        <span class="text-lg text-black text-center tracking-[2px] leading-[18.75px] font-bold mb-5">ACCES AUX MARCHES</span>
                        <h3 class="text-xl xl:text-3xl text-[#E8620F] text-center leading-9 xl:leading-[42px] font-bold mb-3">Club Tiossane</h3>
                        <p class="text-base xl:text-xl text-black text-justify leading-7 xl:leading-[30.4px] font-normal">
                            Club Tiossane, basé à Dakar, Sénégal, est un distributeur multicanal de produits agroalimentaires. Son objectif principal
                            est de faciliter l'accès au marché pour les PME et les jeunes entrepreneurs en identifiant les <span class="font-bold">canaux de distribution</span> adaptés
                            à leurs produits.
                            L’ entreprise offre une gamme de services comprenant la distribution physique, le référencement, la négociation des conditions 
                            de vente, le financement et la coordination de campagnes de lancement de produits, de trade marketing et de communication. 
                            Via le rogramme E4Y, Club Tiossane soutient les PME en développant leurs ventes à travers des <span class="font-bold">réseaux de distribution</span>
                            appropriés tout en établissant des partenariats stratégiques avec des acteurs clés de l'UEMOA.
                        </p>
                    </div>
                </div>
                <div class="flex justify-center items-stretch md:items-center mt-20">
                    <span class="text-xl md:text-3xl xl:text-6xl text-black font-bold lg:leading-[67.5px] text-center">ENSEMBLE C’EST POSSIBLE !</span>
                </div>
            </div>
          </section>
    </div>  
    <app-footer id="contact"></app-footer>
    <button class="w-13 h-13 flex justify-center items-center rounded-full bg-orangeColor fixed bottom-5 right-10 shadow-lg z-50 text-white"
     *ngIf="showScrollToTopButton()" (click)="scrollToTop()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
        </svg>
   </button>
</div>