<div class="w-full min-h-screen bg-white flex flex-col justify-center items-center p-5">
    <!-- responsive div -->
     <div class="bg-[#27746b] w-full h-full flex-1 flex flex-col justify-center items-center p-5">
        <div class="mb-5">
            <a>
                <img class="h-20 inline" src="assets/images/Logo_E4Y.png" alt="company logo">
            </a>
       </div>
        <div class="flex flex-row space-x-2 items-center">
            <span class="w-20 border border-white"></span>
            <span class="text-4xl text-white font-roboto font-bold">REDIRECTION EN COURS</span>
        </div>
        <div class="flex flex-col items-center mt-5 font-roboto w-[33rem]">
            <p class=" text-white text-xl italic">
                Merci de votre visite !
            </p>
            <div class="flex flex-col mt-5 w-full">
                <p class="text-2xl text-white font-normal font-roboto leading-7">
                    Vous avez été redirigé depuis notre ancienne page. <br>
                    Notre site officiel est désormais accessible à l'adresse suivante :
                    
                </p>
                <span class="flex items-center space-x-3 justify-center bg-white p-2 rounded-lg mt-5">
                        <span style="font-size: 24px;">👉 :</span>
                        <a href="https://www.e4y-program.com" class="text-[#ca6226] underline text-3xl hover:text-blue-600">e4y-program.com</a>.
                    </span>
                <p class="text-2xl text-white mt-5 leading-6">
                    <span style="color: white; font-size: 24px;">🔔</span>
                    Ici, nous souhaitons vous offrir une place spéciale à nos champions, celles et ceux qui font battre le cœur du programme !
                </p>
            </div>
            <div class="flex flex-col items-center mt-5 text-white">
                <p class="text-2xl">Pour toute demande vous pouvez nous contacter à :</p>
                <p class="font-bold text-xl"><a>info&#64;e4y-program.com - contact&#64;e4y-program.com</a></p>
                <p class="font-bold text-xl"><a href="tel:+221338256999">+221 33 825 69 99</a></p>
                <p class="text-xl italic mt-4">Restez connectés !</p>
            </div>

        </div>
     </div>

    <!--<div class="mb-5">
        <a>
            <img class="h-20 inline" src="assets/images/Logo_E4Y.png" alt="company logo">
        </a>
    </div>

    <div class="maintenance-container">
        <div class="maintenance-icon">🔧</div>
        
        <h1 class="font-bold text-3xl mb-5">REDIRECTION EN COURS</h1> 
        
        <p class="subtitle">
            Merci de votre visite !
        </p>
        <p class="subtitle">
            Vous avez été redirigé depuis notre ancienne page. <br>
            Notre site officiel est désormais accessible à l'adresse suivante
             <span class="flex bg-white p-2">
                <a href="https://www.e4y-program.com" class="text-blue-600 underline">e4y-program.com</a>.
             </span>
        </p>
        <div class="contact-info">
            <p>Pour toute demande vous pouvez nous contacter à :</p>
            <p class="text-zinc-800 font-bold text-lg"><a>info&#64;e4y-program.com - contact&#64;e4y-program.com</a></p>
            <p class="text-zinc-800 font-bold text-lg"><a href="tel:+221338256999">+221 33 825 69 99</a></p>
            <p class="text-xl mt-2">Restez connectés !</p>
        </div>-->
</div>