<div class="w-full min-h-screen bg-white flex flex-col justify-center items-center">

    <div class="mb-5">
        <a>
            <img class="h-20 inline" src="assets/images/Logo_E4Y.png" alt="company logo">
        </a>
    </div>

    <div class="maintenance-container">
        <div class="maintenance-icon">🔧</div>
        
        <h1 class="font-bold">Site en Maintenance</h1>
        
        <p class="subtitle">
            Notre site sera bientôt de retour avec de nouvelles fonctionnalités !
        </p>
        <div class="contact-info">
            <p>Pour toute urgence, contactez-nous :</p>
            <p class="text-zinc-800 font-bold text-lg"><a>info&#64;e4yprogram.com - contact&#64;e4yprogram.com</a></p>
            <p class="text-zinc-800 font-bold text-lg"><a href="tel:+221338256999">+221 33 825 69 99</a></p>
        </div>
</div>