<div class="w-full min-h-screen bg-gray-800 flex flex-col justify-center items-center">

    <div class="text-10xl md:text-[10rem] lg:text-[20rem] text-orangeColor font-bold italic">
        404
    </div>
    <div class="flex flex-col justify-center space-y-2">
        <p class="text-white font-bold text-4xl text-center">Ooops... 404!</p>
        <p class="text-white text-2xl text-center">La page que vous avez demandée est introuvable.</p>
        <a class="text-white text-2xl text-center hover:text-blue-500 hover:underline" [routerLink]="['/']">Aller ver l'accueil</a>
    </div>
</div>
 