<div class="w-full flex flex-col items-center justify-center md:justify-end mt-20 md:mt-0 md:fixed md:z-999 md:top-[84px] md:right-36 duration-500"
 [ngClass]="{'md:top-0': scrollHeight > 1000, 'md:right-[50%]': scrollHeight > 1000}">
    <div class="w-fit bg-yellowColor text-white px-10 py-2 mx-6 block md:hidden">
        <span class="text-2xl font-bold">LANCEMENT DU SITE WEB</span>
      </div>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-10 sm:gap-x-10 gap-y-10 place-self-center mt-5 md:gap-x-0 md:place-self-end md:flex md:items-center md:justify-end md:space-x-6 md:px-4 md:mt-1
    ">
        <div class="h-20 w-20 md:h-[70px] md:w-[70px] flex flex-col justify-center items-center border border-gray-100 rounded-full font-sans">
            <span class="text-center text-white text-[17px] font-bold">{{days()}}</span>
            <span class="text-center text-white text-[17px] font-normal">jr</span>
        </div>

        <div class="h-20 w-20 md:h-[70px] md:w-[70px] flex flex-col justify-center items-center border border-gray-100 rounded-full font-sans">
            <span class="text-center text-white text-[17px] font-bold">{{hours()}}</span>
            <span class="text-center text-white text-[17px] font-normal">hrs</span>
        </div>
 
        <div class="h-20 w-20 md:h-[70px] md:w-[70px] flex flex-col justify-center items-center border border-gray-100 rounded-full font-sans">
            <span class="text-center text-white text-[17px] font-bold">{{minutes()}}</span>
            <span class="text-center text-white text-[17px] font-normal">min</span>
        </div>

        <div class="h-20 w-20 md:h-[70px] md:w-[70px] flex flex-col justify-center items-center border border-gray-100 rounded-full font-sans">
            <span class="text-center text-white text-[17px] font-bold">{{seconds()}}</span>
            <span class="text-center text-white text-[17px] font-normal">sec</span>
        </div>
    </div>
</div> 
